{% extends 'base.html' %}
{% block content %}
 <div id="content" class="animated zoomIn" >
            <div  class="title" style="overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;">
            {{title}}
            </div>
             <div id="hah" class="tran3" style="float:right;text-align:right;padding-right:10px;width:500px;">
            	{{date}}
            </div>
            {% if img %}
            <div class="image">
            	<img width="480px" src="\static/img/article/{{img}}.jpg">
            </div>
            {% endif %}
            <div class="text" style="max-height:100%">
                <pre>
                	{{content}}
                </pre>
            </div>

        </div>
{% endblock %}