<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="css/main.css" type="text/css" rel="stylesheet">
	<title>CSS3 transform旋转特效</title>
</head>

<body>
	<h1>CSS3照片墙</h1>
	<ul class="container">
		<li><img class="pic pic1" src="\static/images/mm1.jpg"></li>
		<li><img class="pic pic2" src="\static/images/mm2.jpg"></li>
		<img class="pic pic3" src="\static/images/mm3.jpg">
		<img class="pic pic4" src="\static/images/mm4.jpg">
		<img class="pic pic5" src="\static/images/mm5.jpg">
		<img class="pic pic6" src="\static/images/mm6.jpg">
		<img class="pic pic7" src="\static/images/mm7.jpg">
		<img class="pic pic8" src="\static/images/mm8.jpg">
		<img class="pic pic9" src="\static/images/mm9.jpg">
		<img class="pic pic10" src="\static/images/mm10.jpg">
	</div>
</body>
</html>
